*{
    margin: 0;
    padding: 0;
}

/* Displays Items with Flex and Center Vertically & Horizontally */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#audio-container {
    height: 300px;
    width: 35%;
    background-color: thistle;
    margin-top: 20px;
}

#main-container {
    height: 100vh;
    width: 100vw
}

#cover-img {
    height: 150px;
    width: 150px;
}