@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 14px;
    background-color: #e5d3e6;
    color: #402525;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.gap-25{
    gap: 25px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

/* Colour Pallette: #8C4653 #F2B3BF #F288A4 #F26DB6 #402525*/ 