/* Title Styling */
h1 {
    font-size: 40px;
    color: #402525;
    text-align: center;
    padding-top: 30px;
}

h2{
    font-size: 30px;
    padding: 20px;
    text-decoration: underline;
}

/* Song Name and Artist Styling */
p {
    font-size: 21px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 15px;
}

p span {
    font-weight: bold;
    color: #402525;
}

/* Progress Display Text */
#progress-text,
#duration-text {
    font-size: 14px;
    color: #402525;
    padding-right: 10px;
}

#progress-text {
    font-weight: bold;
}

